:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #ee4d2d;
  --star-gold-color: #ffce3e;

  --fs-14: 1.4rem;

}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: montserrat;
  src: url(../fonts/font-subtitle/Montserrat-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: montserrat;
  src: url(../fonts/font-subtitle/Montserrat-ExtraLight.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: montserrat;
  src: url(../fonts/font-subtitle/Montserrat-Medium.ttf) format('truetype');
  font-weight: 700;
}


@font-face {
  font-family: montserrat;
  src: url(../fonts/font-subtitle/Montserrat-Bold.ttf) format('truetype');
  font-weight: bold;
}


/* font title */
@font-face {
  font-family: broted-young;
  src: url(../fonts/Font-title/broted-young-plant-broted-young-plant-regular-400.otf);
  font-weight: normal;
}

@font-face {
  font-family: broted-young;
  src: url(../fonts/Font-title/broted-young-plant-broted-young-plant-medium-500.otf);
  font-weight: 500;
}

@font-face {
  font-family: broted-young;
  src: url(../fonts/Font-title/broted-young-plant-broted-young-plant-bold-700.otf);
  font-weight: bold;
}


html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-family: montserrat;
  box-sizing: border-box;
}

.btn {
  min-width: 124px;
  min-height: 36px;
  border: none;
  border-radius: 2px;
  font-size: 1.4rem;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}

.btn.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* @media only screen and (max-width: 480px) {} */
/* @media only screen and (max-width: 480px) and (min-width: 320px) {} */