header {}



.title-free {
  font-size: var(--fs-14);
  text-align: center;
  color: var(--black-color);
  background-color: pink;
  width: 100%;
  display: block;
  padding: 2rem 0;
}

.wrapper__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.logo {
  width: 10rem;
}

.wrapper__header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 1.4rem;
  margin: 0 1rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide-1 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}